.homie{
    border-radius: 25%;;
    float:left;
    margin-top: 20%;
    height: 60%;
    width:40%;
    margin-left:10%;
    margin-bottom: -70%;
    padding-top: -30%;
    position: absolute;
    top: 59%;
    transform: translate(-20%, -130%);
}
